*:focus {
  outline: none !important;
}
* {
  margin: 0;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
/**
wordpress fantom space removal
*/
p:empty {
  display: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.bootstrap-select .btn:focus {
  outline: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.media-checker {
  position: absolute;
  top: -10000px;
  left: -10000px;
  z-index: 1920;
}
.image-preloader {
  position: absolute;
  top: -1000px;
  left: -5000px;
  display: block;
}
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
input,
textarea {
  outline: none;
}
a {
  outline: none;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
.image-wrapper {
  width: 200px;
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}
.image-wrapper:after {
  padding-top: 50%;
  display: block;
  content: '';
}
.image-wrapper .image-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: deepskyblue;
  color: white;
}
.image-wrapper .image-content img {
  width: 100%;
  height: auto;
}
@media (min-width: 1600px) {
  .container {
    width: 1570px;
    max-width: 1570px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .media-checker {
    z-index: 1200;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .media-checker {
    z-index: 992;
  }
}
/*Ipad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .media-checker {
    z-index: 1024;
  }
}
/*Ipad Portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .media-checker {
    z-index: 768;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .media-checker {
    z-index: 767;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 567px) {
  .media-checker {
    z-index: 567;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 566px) {
  .media-checker {
    z-index: 566;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .media-checker {
    z-index: 480;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .media-checker {
    z-index: 479;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .media-checker {
    z-index: 320;
  }
}
html,
body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
.mobile-navigation {
  position: fixed;
  z-index: 1010;
  top: 0;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #011f4b;
  background-color: #03396c;
}
.mobile-navigation:after {
  content: '';
  display: table;
  clear: both;
}
.mobile-navigation .logo-container {
  display: block;
  float: left;
  width: auto;
  max-width: 199px;
  height: 45px;
  margin-top: 0;
  margin-left: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.mobile-navigation .logo-container .name-mobile {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: white;
}
.mobile-navigation .logo-container .title-mobile {
  display: block;
  font-size: 14px;
  font-weight: 800;
  color: #02fdf3;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
.mobile-navigation .navigation-trigger {
  display: block;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mobile-navigation .navigation-trigger a {
  display: inline-block;
  vertical-align: middle;
}
.mobile-navigation .navigation-trigger a:link,
.mobile-navigation .navigation-trigger a:visited {
  color: white;
}
.mobile-navigation .navigation-trigger a:hover,
.mobile-navigation .navigation-trigger a:active,
.mobile-navigation .navigation-trigger a:focus {
  color: #02fdf3;
}
.mobile-navigation .navigation-trigger a:last-child {
  margin-left: 20px;
}
.mobile-navigation .navigation-trigger a:last-child i {
  font-size: 35px;
  line-height: 30px;
}
.mobile-navigation .navigation-trigger i {
  margin-right: 20px;
  font-size: 25px;
  line-height: 55px;
}
.mobile-links-list-container {
  position: fixed;
  z-index: 1000;
  top: 55px;
  display: none;
  overflow: hidden;
  width: 100%;
  background-color: #03396c;
}
.mobile-links-list-container ul {
  margin: 0;
  padding: 0;
}
.mobile-links-list-container ul li {
  display: block;
  padding: 0;
  list-style: none;
  background-image: none;
}
.mobile-links-list-container ul li a {
  display: block;
  padding: 10px 0 10px 30px;
  text-transform: uppercase;
  font-size: 18px;
}
.mobile-links-list-container ul li a:link,
.mobile-links-list-container ul li a:visited {
  color: white;
}
.mobile-links-list-container ul li a:hover,
.mobile-links-list-container ul li a:focus,
.mobile-links-list-container ul li a:active {
  color: black;
  background-color: #02fdf3;
}
.pusher {
  height: 55px;
}
.main-header {
  display: block;
  width: 100%;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.main-header .logo-container {
  display: inline-block;
  height: 70px;
  width: 100%;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.main-header .logo-container .name {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -0.04em;
  color: #fff;
}
.main-header .logo-container .title {
  display: block;
  font-size: 12px;
  color: #02fdf3;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.main-header .menu-container {
  display: inline-block;
  height: 70px;
  padding: 0 20px;
  float: right;
}
.main-header .menu-container ul {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
.main-header .menu-container ul li {
  display: inline-block;
}
.main-header .menu-container ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 15px;
  color: #fff;
}
.main-header .menu-container ul li a:link,
.main-header .menu-container ul li a:visited {
  color: #fff;
}
.main-header .menu-container ul li a:hover,
.main-header .menu-container ul li a:focus,
.main-header .menu-container ul li a:active {
  color: #02fdf3;
}
.main-header.change {
  background-color: #03396c;
}
.cover-wrapper {
  background-image: url(../img/1.jpeg);
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: -10;
}
.cover-wrapper .cover-content {
  height: 100vh;
  width: 90%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.cover-wrapper .cover-content .cover-inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cover-wrapper .cover-content .cover-inner h1 {
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-weight: 800;
  font-size: 4em;
  text-align: center;
}
.cover-wrapper .cover-content .cover-inner h1:after {
  content: '';
  display: block;
  height: 3px;
  width: 400px;
  margin: 10px auto;
  background-color: #02fdf3;
}
.cover-wrapper .cover-content .cover-inner p {
  letter-spacing: 0.025em;
  font-size: 2em;
  color: white;
  text-align: center;
  margin-top: 20px;
}
.about-wrapper {
  height: 360px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#03396c+0,ffffff+89 */
  background: #03396c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #03396c 0%, #ffffff 89%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #03396c 0%, #ffffff 89%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #03396c 0%, #ffffff 89%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03396c', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
.about-wrapper .about h2 {
  overflow: hidden;
  text-align: center;
  color: white;
  margin: 0;
  padding: 50px 0 10px;
  font-size: 38px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.about-wrapper .about h2:after {
  content: '';
  display: block;
  height: 3px;
  width: 200px;
  margin: 10px auto;
  background-color: #02fdf3;
}
.about-wrapper .about p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  color: white;
  width: 60%;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
}
.skills-wrapper {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: -30px;
}
.skills-wrapper .skills-logo {
  width: 100%;
}
.skills-wrapper .skills-logo .skills-logo-inner {
  display: block;
  width: 250px;
  height: 250px;
  border: 4px solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #03396c;
  text-align: center;
  color: #02fdf3;
  font-weight: 700;
  font-size: 5em;
  margin: 80px auto 0;
}
.skills-wrapper .skills-logo .skills-logo-inner i {
  font-size: 155px;
  margin-top: 20px;
}
.skills-wrapper .skills-logo .skills-logo-inner h3 {
  font-size: 50px;
  margin-top: -10px;
}
.skills-wrapper .my-skills {
  position: relative;
  height: 400px;
}
.skills-wrapper .my-skills .my-skills-inner {
  text-transform: uppercase;
  height: 130px;
  width: 130px;
  border: 2px solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #03396c;
  text-align: center;
}
.skills-wrapper .my-skills .skill-html {
  position: absolute;
  top: 10px;
  left: 10px;
}
.skills-wrapper .my-skills .skill-html .html-icon {
  font-family: 'devicons';
}
.skills-wrapper .my-skills .skill-html .html-icon:before {
  content: '\e636';
  display: block;
  font-size: 90px;
  margin-top: -10px;
}
.skills-wrapper .my-skills .skill-html h4 {
  font-size: 18px;
  margin-top: -22px;
  font-weight: 700;
}
.skills-wrapper .my-skills .skill-css {
  position: absolute;
  top: 248px;
  left: 10px;
}
.skills-wrapper .my-skills .skill-css .css-icon {
  font-family: 'devicons';
}
.skills-wrapper .my-skills .skill-css .css-icon:before {
  content: '\e649';
  display: block;
  font-size: 95px;
  margin-top: -14px;
}
.skills-wrapper .my-skills .skill-css h4 {
  font-size: 18px;
  margin-top: -23px;
  font-weight: 700;
}
.skills-wrapper .my-skills .skill-bootstrap {
  position: absolute;
  top: 130px;
  left: 37%;
}
.skills-wrapper .my-skills .skill-bootstrap .bootstrap-icon {
  font-family: 'devicons';
}
.skills-wrapper .my-skills .skill-bootstrap .bootstrap-icon:before {
  content: '\e647';
  display: block;
  font-size: 93px;
  margin-top: -20px;
}
.skills-wrapper .my-skills .skill-bootstrap h4 {
  font-size: 16px;
  margin-top: -27px;
  font-weight: 700;
}
.skills-wrapper .my-skills .skill-javascript {
  position: absolute;
  top: 10px;
  right: 10%;
}
.skills-wrapper .my-skills .skill-javascript .javascript-icon {
  font-family: 'devicons';
}
.skills-wrapper .my-skills .skill-javascript .javascript-icon:before {
  content: '\e681';
  display: block;
  font-size: 67px;
}
.skills-wrapper .my-skills .skill-javascript h4 {
  font-size: 16px;
  margin-top: -9px;
  font-weight: 700;
}
.skills-wrapper .my-skills .skill-jquery {
  position: absolute;
  top: 248px;
  right: 10%;
}
.skills-wrapper .my-skills .skill-jquery .jquery-icon {
  font-family: 'devicons';
}
.skills-wrapper .my-skills .skill-jquery .jquery-icon:before {
  content: '\e650';
  display: block;
  font-size: 90px;
  margin-top: -15px;
}
.skills-wrapper .my-skills .skill-jquery h4 {
  font-size: 18px;
  margin-top: -22px;
  font-weight: 700;
}
.portfolio-wrapper {
  background-color: #03396c;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.portfolio-wrapper .portfolio h2 {
  overflow: hidden;
  text-align: center;
  color: white;
  margin: 0;
  padding: 50px 0;
  font-size: 38px;
}
.portfolio-wrapper .portfolio h2:after {
  content: '';
  display: block;
  height: 3px;
  width: 110px;
  margin: 10px auto;
  background-color: #02fdf3;
}
.portfolio-wrapper .my-project {
  margin-bottom: 40px;
  position: relative;
}
.portfolio-wrapper .my-project:hover .my-project-inner {
  opacity: 1;
  background-color: rgba(0, 6, 6, 0.7);
}
.portfolio-wrapper .my-project img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border: 2px solid #02fdf3;
  opacity: 1;
}
.portfolio-wrapper .my-project .my-project-inner {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.portfolio-wrapper .my-project .my-project-inner h2 {
  position: absolute;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  font-size: 35px;
  padding-bottom: 40px;
}
.contact-wrapper {
  background-color: white;
  display: block;
}
.contact-wrapper .contact {
  display: block;
}
.contact-wrapper .contact h2 {
  overflow: hidden;
  margin: 0;
  padding: 50px 0 10px;
  text-align: center;
  color: #03396c;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-weight: 700;
  font-size: 38px;
}
.contact-wrapper .contact h2:after {
  content: '';
  display: block;
  height: 3px;
  width: 110px;
  margin: 10px auto;
  background-color: #02fdf3;
}
.contact-wrapper .contact p {
  text-align: center;
  color: #03396c;
  width: 60%;
  margin: 0 auto;
  font-size: 1.4em;
}
.contact-wrapper .contact-details {
  text-align: center;
  margin: 30px auto;
}
.contact-wrapper .contact-details i {
  font-size: 4em;
  color: #03396c;
}
.contact-wrapper .contact-details p {
  font-size: 1.6em;
  color: #6497b1;
  margin: 10px 0 0;
}
.contact-wrapper .contact-details a {
  display: block;
  margin-top: 10px;
  font-size: 1.6em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.contact-wrapper .contact-details a:link,
.contact-wrapper .contact-details a:visited {
  color: #6497b1;
}
.contact-wrapper .contact-details a:hover,
.contact-wrapper .contact-details a:focus,
.contact-wrapper .contact-details a:active {
  color: #011f4b;
}
.footer-wrapper {
  background-color: #011f4b;
}
.footer-wrapper .footer-inner {
  height: 150px;
}
.footer-wrapper .footer-inner p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #02fdf3;
  margin-bottom: 0;
}
.footer-wrapper .footer-inner ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footer-wrapper .footer-inner ul li {
  display: inline-block;
}
.footer-wrapper .footer-inner ul li a {
  display: block;
  margin: 0 10px;
  width: 52px;
  height: 52px;
  line-height: 52px;
  font-size: 25px;
  text-align: center;
  border: 2px solid #02fdf3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.footer-wrapper .footer-inner ul li a:link,
.footer-wrapper .footer-inner ul li a:visited {
  color: #02fdf3;
  background-color: #011f4b;
}
.footer-wrapper .footer-inner ul li a:hover,
.footer-wrapper .footer-inner ul li a:focus,
.footer-wrapper .footer-inner ul li a:active {
  color: #011f4b;
  background-color: #02fdf3;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .skills-wrapper .my-skills .skill-bootstrap {
    top: 130px;
    left: 34%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main-header .menu-container ul li a {
    font-size: 14px;
  }
  .cover-wrapper .cover-content .cover-inner h1 {
    font-size: 3em;
  }
  .about-wrapper .about p {
    width: 80%;
  }
  .skills-wrapper .my-skills .skill-html {
    top: 10px;
    left: 0;
  }
  .skills-wrapper .my-skills .skill-css {
    top: 248px;
    left: 0;
  }
  .skills-wrapper .my-skills .skill-bootstrap {
    top: 130px;
    left: 34%;
  }
  .skills-wrapper .my-skills .skill-javascript {
    top: 10px;
    right: 0;
  }
  .skills-wrapper .my-skills .skill-jquery {
    top: 248px;
    right: 0;
  }
  .portfolio-wrapper .my-project .my-project-inner h2 {
    font-size: 24px;
  }
}
/*Ipad Landscape */
/*Ipad Portrait*/
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .cover-wrapper {
    height: calc(100vh - 55px);
  }
  .cover-wrapper .cover-content .cover-inner h1:after {
    content: '';
    width: 300px;
    margin: 10px auto;
  }
  .about-wrapper .about h2 {
    padding-top: 25px;
  }
  .about-wrapper .about p {
    width: 80%;
  }
  .skills-wrapper .skills-logo {
    width: 100%;
    padding-top: 0;
  }
  .skills-wrapper .skills-logo .skills-logo-inner {
    margin: 0 auto;
  }
  .skills-wrapper .my-skills .skill-html {
    top: 10px;
    left: 10%;
  }
  .skills-wrapper .my-skills .skill-css {
    top: 248px;
    left: 10%;
  }
  .skills-wrapper .my-skills .skill-bootstrap {
    top: 130px;
    left: 40%;
  }
  .skills-wrapper .my-skills .skill-javascript {
    top: 10px;
    right: 10%;
  }
  .skills-wrapper .my-skills .skill-jquery {
    top: 248px;
    right: 10%;
  }
  .portfolio-wrapper {
    min-height: 300px;
  }
  .portfolio-wrapper .portfolio h2 {
    padding-top: 25px;
  }
  .portfolio-wrapper .portfolio p {
    width: 80%;
  }
  .contact-wrapper .contact p {
    width: 90%;
  }
  .footer-wrapper .footer-inner {
    height: 60px;
    padding: 40px 0;
    text-align: center;
  }
  .footer-wrapper .footer-inner ul {
    text-align: center;
    padding: 10px 0;
  }
  .footer-wrapper .footer-inner p {
    margin-top: 10px;
  }
}
/* Modify query */
@media only screen and (max-width: 600px) {
  .about-wrapper {
    height: 400px;
  }
  .skills-wrapper .my-skills .skill-html {
    top: 10px;
    left: 5%;
  }
  .skills-wrapper .my-skills .skill-css {
    top: 248px;
    left: 5%;
  }
  .skills-wrapper .my-skills .skill-bootstrap {
    top: 130px;
    left: 37%;
  }
  .skills-wrapper .my-skills .skill-javascript {
    top: 10px;
    right: 5%;
  }
  .skills-wrapper .my-skills .skill-jquery {
    top: 248px;
    right: 5%;
  }
}
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .cover-wrapper .cover-content .cover-inner {
    margin-top: -40px;
  }
  .cover-wrapper .cover-content .cover-inner h1 {
    font-size: 2.2em;
    line-height: 40px;
  }
  .cover-wrapper .cover-content .cover-inner h1:after {
    content: '';
    width: 100px;
    line-height: 300%;
    margin: 5px auto;
  }
  .about-wrapper {
    height: 640px;
  }
  .portfolio-wrapper .col-xs-6 {
    width: 80%;
    margin-left: 35px;
  }
  .skills-wrapper {
    margin-top: -110px;
  }
  .skills-wrapper .my-skills .skill-html {
    top: 10px;
    left: 0;
  }
  .skills-wrapper .my-skills .skill-css {
    top: 248px;
    left: 0;
  }
  .skills-wrapper .my-skills .skill-bootstrap {
    top: 130px;
    left: 31%;
  }
  .skills-wrapper .my-skills .skill-javascript {
    top: 10px;
    right: 0;
  }
  .skills-wrapper .my-skills .skill-jquery {
    top: 248px;
    right: 0;
  }
  .contact-wrapper .contact p {
    font-size: 1em;
  }
  .contact-wrapper .contact-details a {
    font-size: 1.4em;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .cover-wrapper .cover-content .cover-inner h1:after {
    content: '';
    width: 100px;
    line-height: 300%;
  }
  .cover-wrapper .cover-content .cover-inner p {
    font-size: 1.8em;
  }
  .about-wrapper .about p {
    font-size: 14px;
  }
  .skills-wrapper {
    margin-top: -120px;
  }
  .skills-wrapper .col-sm-6 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .skills-wrapper .col-sm-6 .skills-logo .skills-logo-inner {
    width: 160px;
    height: 160px;
    font-size: 3em;
  }
  .skills-wrapper .col-sm-6 .skills-logo .skills-logo-inner i {
    font-size: 100px;
    margin-top: 10px;
  }
  .skills-wrapper .col-sm-6 .skills-logo .skills-logo-inner h3 {
    font-size: 30px;
    margin-top: -7px;
  }
  .skills-wrapper .my-skills {
    height: 700px;
  }
  .skills-wrapper .my-skills .my-skills-inner {
    position: static;
  }
  .skills-wrapper .my-skills .skill-html {
    display: block;
    margin: 10px auto;
  }
  .skills-wrapper .my-skills .skill-css {
    display: block;
    margin: 10px auto;
  }
  .skills-wrapper .my-skills .skill-bootstrap {
    margin: 10px auto;
  }
  .skills-wrapper .my-skills .skill-javascript {
    margin: 10px auto;
  }
  .skills-wrapper .my-skills .skill-jquery {
    margin: 10px auto;
  }
  .portfolio-wrapper .col-xs-6 {
    width: 80%;
    margin-left: 20px;
  }
  .portfolio-wrapper .col-xs-6 .my-project {
    margin-bottom: 20px;
  }
  .contact-wrapper .contact-details i {
    font-size: 2.5em;
  }
  .contact-wrapper .contact-details a {
    font-size: 1em;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .cover-wrapper .cover-content .cover-inner {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    margin-top: 70px;
  }
  .cover-wrapper .cover-content .cover-inner h1 {
    font-size: 2.2em;
  }
  .cover-wrapper .cover-content .cover-inner p {
    font-size: 1.4em;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .cover-wrapper .cover-content .cover-inner h1 {
    font-size: 2em;
  }
  .cover-wrapper .cover-content .cover-inner p {
    font-size: 1em;
  }
}
